.wedding-details-header {
    position: relative;

  }
  
  .wedding-details-header img {
    width: 101%;
    height: 105%;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .overlay-wedding-details-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: -10px;
    margin-right: -10px;

  }
  
  .wedding-details-header:hover .overlay-wedding-details-header {
    opacity: 1;
  }
  
  .text-on-overlay-wedding-details-header {
    text-align: center;
    color: white;
   
  }
  
  .text-on-overlay-wedding-details-header h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Hattinand', sans-serif;
                                                

  }
  
  .text-on-overlay-wedding-details-header p {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    font-family: 'TT Rationalist Trl', sans-serif;
                                                
  }
  
  
  .big-title-header-wedding-details {
   
    font-weight: bold;
    text-align: center;
    font-family: 'Constantine', sans-serif;
    font-size: 50px;
    color: white;
    background-color: #bea2a29c;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);

  }
  
  .ceremony-reception {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideDownAnimation 0.5s;
    animation-fill-mode: both;
  }
  
  @keyframes slideDownAnimation {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
/*   
  .ceremony-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .ceremony-text i {
    font-size: 24px;
  }
  
  .small-svg-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .first-three-wedding-details div {
    margin: 10px;
    text-align: center;
  }
  
  .first-three-wedding-details i {
    font-size: 24px;
    margin-bottom: 5px;
  } */
  
  .img-details{
    height: 300px;
    padding: 120px;
  }

  .registry-list-style {
    animation: slideDownAnimation 0.5s;
    animation-fill-mode: both;
  }
  
  @keyframes slideDownAnimation {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .big-title-header-gallery{
    font-weight: bold;
    text-align: center;
    font-family: 'Constantine', sans-serif;
    font-size: 50px;
    color: white;
    background-color: #bea2a29c;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  }


  .photos-slideshow {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    display: flex;
  }
  
  
  .photos5 {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    overflow-x: auto;
    padding-top: 30px;
   
  }
  
  .photos {
    max-height: 300px;
    max-width: 500px;
    scroll-snap-align: start;
  }
  
.update-delete{
  display: flex;
  justify-content: space-around;
  color: rgb(150, 126, 97);
}

.gallery-name {
  color: black;
  font-size: 20px;
  margin-bottom: -10px;
  font-weight: bold;
  font-family: 'Utendo', sans-serif;
                                                
}

.gallery-description{
  color: black;
  font-size: 20px;
  font-family: 'Utendo', sans-serif;
                                                
}