.registry-container {
  display: flex;

  margin: 20px;
  height: 250px;
  width: 300px;
  margin-right: -25px;
}

.registry-slideshow {
  margin-right: 20px; /* Added margin to create spacing between slideshow and box */
  border: 2px solid black;
  padding: 20px;
}


.registry-slideshow img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
}

.registry-list-style{
  display: flex;
   overflow-x: auto; /* Enable horizontal scrolling */
}
.registry-name{
display: flex;
margin: -13px
}
.registry-item-title{
  display: flex;
  margin-bottom: 2px;
}