.registry-container {
  display: flex;
    margin: 20px;
    height: 311px;
    width: auto;
    margin-right: -10px;
    height: 340px;
}

.registry-slideshow {
  margin-right: 20px;

  background-color: #ede3e4;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}


.registry-slideshow img {
  /* width: 100%; */
  max-width: 400px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.registry-list-style {
  display: flex;
  overflow-x: auto;
  height: 400px;
}

.registry-list-style::-webkit-scrollbar {
  width: 10px; 
}

.registry-list-style::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
  border-radius: 10px;
}

.registry-list-style::-webkit-scrollbar-thumb {
  background-color: #c1a1a1; 
  border-radius: 10px; 
}

.registry-list-style::-webkit-scrollbar-thumb:hover {
  background-color: #7b5c5c; 
}

.registry-name{
justify-content: center;
color: rgb(127, 103, 107);
font-family: 'Utendo', sans-serif;
                                                


}
.registry-item-title{
  display: flex;
  margin-bottom: 2px;
  justify-content: center;
  color: #635f5f;
  font-family: 'Utendo', sans-serif;
                                                
}

.big-title-header-regsitry-details{
  font-weight: bold;
    text-align: center;
    font-family: 'Constantine', sans-serif;
    font-size: 50px;
    color: white;
    background-color: #bea2a29c;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.form-title-for-registry{
  font-size: 30px;
}

.registry-list-style-form{
  padding: 20px;
  border-radius: 20px;
  padding-right: 92px;
  margin-left: 30px;
  margin-right: 10px;
  height: 210px;
  margin-top: 20px;
  background-color: #ab9999;
  color: white;
  display: flex;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.registry-form-pop-up{
  display: flex;
 
}
.registry-form{
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  justify-content: center;
  width: 700px;
  background-color: #ab9999;
  border-radius: 10px;
  color: #f4f2f2;
  font-family: 'Constantine', sans-serif;
  font-size: 30px;
  
}

.submit-registries {
  background-color: transparent;
  border-color: transparent;
  color: #f4f2f2;
  font-size: 15px;
}

.submit-registries:hover {
 border-radius: 5px;
  background-color: #f4f2f2;
  border: 1px solid #f4f2f2;
  color: #a7a2a2; 
}

.delete-modal{
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  justify-content: center;
  width: 700px;
  background-color: #ab9999;
  border-radius: 10px;
  color: #f4f2f2;
  font-family: 'Constantine', sans-serif;
  font-size: 25px;
}

.delete-form-button {
  background-color: transparent;
  color: #fafafa;
  border: none;
  padding: 8px 16px;

  cursor: pointer;
  margin-top: 5px;
border-radius: 20px;
}
.delete-form-button:hover {
  color: rgb(229, 59, 59);
}


.cancel-form-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 5px;
border-radius: 20px;
}
.cancel-form-button:hover {
  color: #333;
}


.comment-form-pop-up{
  padding: 10px;
  height: 300px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  color: #6e1e1e;
  font-family: 'Utendo', sans-serif;
  background-color: #e9e8e1;
    border-radius: 10px;
    overflow-x: auto;
}

/* .comment-in-reg{
  margin: 22px;
} */

.submit-comments{
  background-color: transparent;
  border-color: transparent;
  color: black;
  font-family: 'Utendo', sans-serif;
  font-weight: 200;
}
.song-req2{
  display: flex;
  display: flex;
  /* padding: 4px; */
  /* margin: 10px; */
  flex-direction: column;
}


.fas.fa-comment-dots{
  color: #9d9ddb;
  position: absolute;
  left: 276px;
  bottom: 290px;
  font-size: 30px;

}

.input-registry{
  background-color: transparent;
  border-color: transparent;
  padding-top: 9px;
  padding-left: 49px;
}
.song-request-pop-up{
  display: flex;
  justify-content: space-evenly;
}

/* .registry-photos{
  max-height: 30px;
  max-width: 50px;
} */

.name-and-registry{
  display: flex;
    justify-content: center;
}

