.photos-slideshow:hover {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2px);
  }
}
  

/* .registry-slideshow img {
  width: 100%;
  max-width: 400px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
} */

/* .registry-list-style {
  display: flex;
  overflow-x: scroll;
  height: 400px;
} */

.registry-list-style::-webkit-scrollbar {
  width: 10px; 
}

.registry-list-style::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
  border-radius: 10px;
}

.registry-list-style::-webkit-scrollbar-thumb {
  background-color: #c1a1a1; 
  border-radius: 10px; 
}

.registry-name{
justify-content: center;
color: rgb(127, 103, 107);
font-family: 'Utendo', sans-serif;
}
.registry-item-title{
  display: flex;
  margin-bottom: 2px;
  justify-content: center;
  color: #635f5f;
  font-family: 'Utendo', sans-serif;
                                                
}

.big-title-header-regisitry-details{
  font-weight: bold;
    text-align: center;
    font-family: 'Constantine', sans-serif;
    font-size: 50px;
    color: white;
    background-color: #bea2a29c;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}


.registry-list-style-form{
  padding: 20px;
  border-radius: 20px;
  padding-right: 92px;
  margin-left: 30px;
  margin-right: 10px;
  height: 210px;
  margin-top: 20px;
  background-color: #ab9999;
  color: white;
  display: flex;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.registry-form-pop-up{
  display: flex;
 
}
.registry-form-1{
  display: flex;
  height: 38vh;
  width: 97vw;
  background-color: #ab9999;
  border-radius: 10px;
  color: #f4f2f2;
  font-family: 'Constantine', sans-serif;
  font-size: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registry-form{
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  justify-content: center;
  width: 700px;
  background-color: #ab9999;
  border-radius: 10px;
  color: #f4f2f2;
  font-family: 'Constantine', sans-serif;
  font-size: 30px;
  
}


.submit-registries {
  background-color: transparent;
  border-color: transparent;
  color: #f4f2f2;
  font-size: 15px;
}

.submit-registries:hover {
 border-radius: 5px;
  background-color: #f4f2f2;
  border: 1px solid #f4f2f2;
  color: #a7a2a2; 
}

.delete-modal{
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  justify-content: center;
  width: 700px;
  background-color: #ab9999;
  border-radius: 10px;
  color: #f4f2f2;
  font-family: 'Constantine', sans-serif;
  font-size: 25px;
}

.delete-form-button {
  background-color: transparent;
  color: #fafafa;
  border: none;
  padding: 8px 16px;

  cursor: pointer;
  margin-top: 5px;
border-radius: 20px;
}
.delete-form-button:hover {
  color: rgb(229, 59, 59);
}


.cancel-form-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 5px;
border-radius: 20px;
}
.cancel-form-button:hover {
  color: #333;
}

.song-req2{
  display: flex;
  display: flex;
  /* padding: 4px; */
  /* margin: 10px; */
  flex-direction: column;
}


/* .overlay-for-registries {
  width: 100%;
  opacity: 1; 
  transition: .5s ease;
  background-image: url('https://static.vecteezy.com/system/resources/previews/003/525/648/original/simple-abstract-brown-aesthetic-pattern-background-free-vector.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
}

 */
 .registry-container {
  /* margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; */
  
}


.name-and-registry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  align-items: flex-start;
}

.registry-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.registry-item-title {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #888;
}

.registry-photos {
  margin-bottom: 10px;
  display: flex;
}

.image-registry {
  height: 50%;
  width: 30vw;
}

.update-delete-reg {
  display: flex;
    align-content: center;
    flex-direction: column-reverse;
    justify-content: center;
}

.update-delete-reg > * {
  margin-right: 10px;
}

.fa-comment-dots {
  font-size: 18px;
}

/* Add any additional styles or modifications as needed */



.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s;
}

 .comment-form-pop-up{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(245, 239, 239); */
    height: 100px;
} 


.reg-left{
  display: flex;
  flex-direction: column;
  align-items: center;

}
/* .reg-right{
  overflow-y: scroll;
} */
.comment-section{
  display: flex;
}

.comment-reg {
  background-color: white;
  border-radius: 30px;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  margin: 50px;
  }
  
  .comment-reg::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 5%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: white transparent transparent transparent;
  }

input{
  border-radius: 10px;
  background-color: none;
  height: 36px;
  width: 200px;
  /* display: flex; */
  text-align: center;
  border-color: transparent;
  }

  .buttons-reg{
    display: flex;
    flex-direction: column;

  }

.comment-container{
  display: flex;
    flex-direction: column;
}

.reg-right{
  display: flex;
}